Repository fnabinash/rust-practice, pull requests merged in 2024-09, with the labels that each got.

#20 Implement display_details method for Book struct
  02-intermediate-rust/01_structs/structs_02/src/main.rs
Labels: good first issue, intermediate rust

#22 Refactor: Change grades data type from u32 to f32
  02-intermediate-rust/01_structs/structs_05/src/main.rs
Labels: good first issue, intermediate rust

#24 [Update README] Add indentation for removal
  README.md
Labels: good first issue, practice, readme

#28 [Solve] Add solutions to exercises 06_iterators
  02-intermediate-rust/06_iterators/.gitignore
  02-intermediate-rust/06_iterators/Cargo.lock
  02-intermediate-rust/06_iterators/Cargo.toml
  02-intermediate-rust/06_iterators/iterators_01/Cargo.toml
  02-intermediate-rust/06_iterators/iterators_01/src/main.rs
  02-intermediate-rust/06_iterators/iterators_02/Cargo.toml
  02-intermediate-rust/06_iterators/iterators_02/src/main.rs
  02-intermediate-rust/06_iterators/iterators_03/Cargo.toml
  02-intermediate-rust/06_iterators/iterators_03/src/main.rs
  02-intermediate-rust/06_iterators/iterators_04/Cargo.toml
  02-intermediate-rust/06_iterators/iterators_04/src/main.rs
  02-intermediate-rust/06_iterators/iterators_05/Cargo.toml
  02-intermediate-rust/06_iterators/iterators_05/src/main.rs
  02-intermediate-rust/06_iterators/iterators_06/Cargo.toml
  02-intermediate-rust/06_iterators/iterators_06/src/main.rs
  02-intermediate-rust/06_iterators/iterators_07/Cargo.toml
  02-intermediate-rust/06_iterators/iterators_07/src/main.rs
  02-intermediate-rust/06_iterators/iterators_08/Cargo.toml
  02-intermediate-rust/06_iterators/iterators_08/src/main.rs
  02-intermediate-rust/06_iterators/iterators_09/Cargo.toml
  02-intermediate-rust/06_iterators/iterators_09/src/main.rs
  02-intermediate-rust/06_iterators/iterators_10/Cargo.toml
  02-intermediate-rust/06_iterators/iterators_10/src/main.rs
  QUICK_LINKS.md
  README.md
Labels: intermediate rust
